@{
    Project project = ViewBag.Project;
}
<p>Hi @ViewBag.User.FirstName!</p>
@* Change UserProfile to DashBoard once Admin is Added *@
<a asp-action="MyProfile" asp-controller="Home">Home</a>
|
<a asp-action="Logout" asp-controller="Users">Log Out</a>

<h1>@project.ProjectTitle</h1>

<h3>Description: </h3>
<h4>@project.ProjectDescription</h4>
<br>
<br>

<br>
<h1>Incomplete Tickets</h1>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ticket Title</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ticket ticket in ViewBag.ProjectTickets){
            @if(project.ProjectId == ticket.ProjectId && ticket.TicketStatus == "Open"){
            <tr>
                <td>@ticket.TicketTitle</td>
                <td>@ticket.TicketPriority</td>
                <td>@ticket.CreatedAt.ToString("M/d/yyyy")</td>
                <td>@ticket.UpdatedAt.ToString("M/d/yyyy")</td>
                <td>@ticket.UserAssigned</td>
                <td>Incomplete</td>
                <td>
                    <a asp-action="TicketPage" asp-route-id="@ticket.TicketId" asp-controller="Ticket">More Details</a> 
                    </td>
            </tr>
            }
        }
    </tbody>
</table>

<br>

<br>
<h1>Completed Tickets</h1>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ticket Title</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ticket ticket in ViewBag.ProjectTickets){
            @if(project.ProjectId == ticket.ProjectId && ticket.TicketStatus == "Closed"){
            <tr>
                <td>@ticket.TicketTitle</td>
                <td>@ticket.TicketPriority</td>
                <td>@ticket.CreatedAt.ToString("M/d/yyy")</td>
                <td>@ticket.UpdatedAt.ToString("M/d/yyy")</td>
                <td>@ticket.UserAssigned</td>
                <td>Complete</td>
                <td>
                    <a asp-action="TicketPage" asp-route-id="@ticket.TicketId" asp-controller="Ticket" asp-controller="Comment">More Details</a> 
                    </td>
            </tr>
            }
        }
    </tbody>
</table>
<br>
<br>
@if(ViewBag.User.Admin == "Admin"){


<a asp-action="TicketNew" asp-route-name="@project.ProjectTitle" asp-controller="Ticket"><button>Create Ticket</button></a>
<br>
<br>
<br>
<a asp-action="ProjectEdit" asp-route-name="@project.ProjectTitle"><button>Edit Project</button></a>
<br>
<br>
<br>
<form asp-action="DeleteProject" asp-route-name="@project.ProjectTitle" method="post"><button>Delete Project</button>
</form>
}