@{
    Project project = ViewBag.Project;
}
<p>Hi @ViewBag.User.FirstName!</p>
@* Change UserProfile to DashBoard once Admin is Added *@
<a asp-action="UserProfile" asp-controller="Home">Home</a>

<h1>@project.ProjectTitle</h1>

<h3>Description: </h3>
<h4>@project.ProjectDescription</h4>
<br>
<br>
<a asp-action="ProjectEdit" asp-route-name="@project.ProjectTitle">Edit Project</a>
<br>
<h1>Incomplete Tickets</h1>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ticket Title</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Posted By</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ticket ticket in ViewBag.ProjectTickets){
            @if(project.ProjectId == ticket.ProjectId && ticket.TicketStatus == "Open"){
            <tr>
                <td>@ticket.TicketTitle</td>
                <td>@ticket.TicketPriority</td>
                <td>@ticket.CreatedAt.ToString("M/d/yyy")</td>
                <td>@ticket.UpdatedAt.ToString("M/d/yyy")</td>
                <td>@ticket.MadeBy.FirstName</td>
                    <td>Incomplete</td>
                <td>
                    <a asp-action="TicketPage" asp-route-id="@ticket.TicketId" asp-controller="Ticket">Details</a> 
                    | Edit | <form asp-action="DeleteTicket" asp-route-id="@ticket.TicketId" asp-route-name="@project.ProjectTitle" asp-controller="Ticket" method="post"><button>Delete</button></form>
                    </td>
            </tr>
            }
        }
    </tbody>
</table>
<a asp-action="TicketNew" asp-route-name="@project.ProjectTitle" asp-controller="Ticket">Create Ticket</a>
<br>

<br>
<h1>Completed Tickets</h1>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Ticket Title</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Posted By</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ticket ticket in ViewBag.ProjectTickets){
            @if(project.ProjectId == ticket.ProjectId && ticket.TicketStatus == "Closed"){
            <tr>
                <td>@ticket.TicketTitle</td>
                <td>@ticket.TicketPriority</td>
                <td>@ticket.CreatedAt.ToString("M/d/yyy")</td>
                <td>@ticket.UpdatedAt.ToString("M/d/yyy")</td>
                <td>@ticket.MadeBy.FirstName</td>
                <td>Complete</td>
                <td>
                    <a asp-action="TicketPage" asp-route-id="@ticket.TicketId" asp-controller="Ticket">Details</a> 
                    | Edit | Delete
                    </td>
            </tr>
            }
        }
    </tbody>
</table>
