@{
    Project project = ViewBag.Project;
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h4 class="navbar-brand">Hello, @ViewBag.User.FirstName @ViewBag.User.LastName!</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-action="MyProfile" asp-controller="Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="UserAll" asp-controller="Home" class="card-link">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="ProjectsAll" asp-controller="Project" class="card-link">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="UserProfileUpdate" asp-route-id="@ViewBag.User.UserId" asp-controller="Home">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Logout" asp-controller="Users">Log Out</a>
            </li>
        </ul>
    </div>
</nav>


<div class="d-flex justify-content-center">
    <div class="card mt-4" style="width: 25rem;">
        <div class="card-header">
            <h3>@project.ProjectTitle</h3>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Description: @project.ProjectDescription</li>
            <li class="list-group-item">Admin Assigned: @project.AdminAssigned</li>
        @if(ViewBag.User.Admin == "Admin")
        {
            @if(project.ProjectStatus == "Incomplete")
            {
                <li class="list-group-item d-flex justify-content-center">
                    <h3>Status: Incomplete</h3>
                    <form asp-action="ProjectComplete" asp-route-name="@project.ProjectTitle" method="Post">
            <button class="btn btn-success ml-2">Complete</button>
        </form>
                </li>
            }
            else if(project.ProjectStatus == "Complete")
                {
                <li class="list-group-item d-flex justify-content-center">
                    <h3>Status: Complete</h3>
                    <form asp-action="ProjectIncomplete" asp-route-name="@project.ProjectTitle" method="Post">
            <button class="btn btn-danger ml-2">Incomplete</button>
        </form>
                </li>
                }
                <li class="list-group-item">
                    <div class="d-flex justify-content-between">
                        <a asp-action="TicketNew" asp-route-name="@project.ProjectTitle" asp-controller="Ticket"><button type="button" class="btn btn-primary">Create Ticket</button></a>
                        
                        <a asp-action="ProjectEdit" asp-route-name="@project.ProjectTitle"><button type="button" class="btn btn-success">Edit Project</button></a>

                        <form asp-action="DeleteProject" asp-route-name="@project.ProjectTitle" method="post"><button class="btn btn-danger">Delete Project</button>
                        </form>
                    </div>
            </li>
        }
        </ul>
    </div>
</div>

<br>
<h1>Incomplete Tickets</h1>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Ticket Title</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ticket ticket in ViewBag.ProjectTickets){
            @if(project.ProjectId == ticket.ProjectId && ticket.TicketStatus == "Open"){
            <tr>
                <td>@ticket.TicketTitle</td>
                <td>@ticket.TicketPriority</td>
                <td>@ticket.CreatedAt.ToString("M/d/yyyy")</td>
                <td>@ticket.UpdatedAt.ToString("M/d/yyyy")</td>
                <td>@ticket.UserAssigned</td>
                <td>Incomplete</td>
                <td>
                    <a asp-action="TicketPage" asp-route-id="@ticket.TicketId" asp-controller="Ticket">More Details</a> 
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<br>
<br>
<h1>Completed Tickets</h1>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Ticket Title</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Assigned To</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ticket ticket in ViewBag.ProjectTickets){
            @if(project.ProjectId == ticket.ProjectId && ticket.TicketStatus == "Closed"){
            <tr>
                <td>@ticket.TicketTitle</td>
                <td>@ticket.TicketPriority</td>
                <td>@ticket.CreatedAt.ToString("M/d/yyy")</td>
                <td>@ticket.UpdatedAt.ToString("M/d/yyy")</td>
                <td>@ticket.UserAssigned</td>
                <td>Complete</td>
                <td>
                    <a asp-action="TicketPage" asp-route-id="@ticket.TicketId" asp-controller="Ticket" asp-controller="Comment">More Details</a> 
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<br>
<br>
@if(ViewBag.User.Admin == "Admin")
{
    <partial name="ProjectAssignForm"></partial>


}