@{
    Ticket ticket = ViewBag.Ticket;
}

<a asp-action="MyProfile" asp-controller="Home">Home</a>
|
<a asp-action="ProjectPage" asp-route-name="@ViewBag.Project.ProjectTitle" asp-controller="Project">Project</a>
|
<a asp-action="Logout" asp-controller="Users">Log Out</a>

<h1>Title: @ticket.TicketTitle</h1>
<h3>Description:</h3>
<p>@ticket.TicketDescription</p>
<h4>Priority: @ticket.TicketPriority</h4>
<h4>Status: @ticket.TicketStatus</h4>
<h4>Assigned To: @ticket.UserAssigned</h4>
<h4>Create At: @ticket.CreatedAt.ToString("M/d/yyyy")</h4>
<h4>Update At: @ticket.UpdatedAt.ToString("M/d/yyyy")</h4>

@if(ViewBag.User.Admin == "Admin")
{
    <br>
    <partial name="AssignForm"></partial>
    <br>
    <a asp-action="TicketEdit" asp-route-id="@ticket.TicketId" asp-route-name="@ViewBag.Project.ProjectTitle" asp-controller="Ticket"><button>Edit</button></a>
    <br>
    <br>
    <form asp-action="DeleteTicket" asp-route-id="@ticket.TicketId" asp-route-name="@ViewBag.Project.ProjectTitle" method="post"><button>Delete</button></form>
}
<br>
<br>
@if(ViewBag.User.FirstName == ticket.UserAssigned)
{
    @if(ticket.TicketStatus == "Open")
    {
        <h1>Status: Incomplete</h1>
        <form asp-action="TicketComplete" asp-route-id="@ticket.TicketId" method="Post">
        <button>Complete</button>
        </form>
    }
    else if(ticket.TicketStatus == "Closed")
    {
        <h1>Status: Complete</h1>
        <form asp-action="TicketIncomplete" asp-route-id="@ticket.TicketId" method="Post">
        <button>Incomplete</button>
        </form>
    }
}
<br>
<br>
<h3>Comments</h3>

@model Comment



@foreach(Comment comment in ViewBag.AllComments)
    {
    @if(comment.TicketId == ticket.TicketId)
    {

    <ul class="list-group">
        <li class="list-group">@comment.CreatedAt.ToString("M/d/yyyy")  --  @comment.CommentBy.FirstName:  @comment.CommentText</li>
    </ul>
    }
    }
<br>
<br>
<form asp-action="CreateComment" method="post">
    <div class="form-group">
        <label asp-for="CommentText"></label>
        <textarea asp-for="CommentText" class="form-control" rows="5" id="comment"></textarea>
        <span asp-validation-for="CommentText" class="text-danger"></span>
    </div>
    
<button>Comment</button>
</form>