@{
    User user = ViewBag.User;
}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h4 class="navbar-brand">Hello, @user.FirstName @user.LastName!</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link"asp-action="UserProfileUpdate" asp-route-id="@user.UserId">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Logout" asp-controller="Users">Log Out</a>
            </li>
        </ul>
    </div>
</nav>


<h1 class="text-center">Admin DashBoard</h1>

<h4>Email: @user.Email</h4>

<br>
<br>

<h1><a asp-action="ProjectsAll" asp-controller="Project">Projects</a>: @ViewBag.AllProjects.Count</h1>

<h3>Number of Projects Incomplete = @ViewBag.IncompleteProjects.Count</h3>
<h3>Number of Projects Complete = @ViewBag.CompleteProjects.Count</h3>

<h1><a asp-action="UserAll" asp-controller="Home">Users</a>: @ViewBag.AllUsers.Count</h1>

<h3>Number of Admins = @ViewBag.AllAdmins.Count</h3>
<h3>Number of Users = @ViewBag.Users.Count</h3>