@{
    User user = ViewBag.User;
}
<nav class="navbar navbar-light bg-light">
    <a asp-action="Logout" asp-controller="Users">Log Out</a>
</nav>
<h1>DashBoard</h1>
<h1>Hello, @user.FirstName @user.LastName!</h1>
<h4>Email: @user.Email</h4>
<a asp-action="UserProfileUpdate" asp-route-id="@user.UserId">Edit Profile</a>
<br>
<br>

<h1><a asp-action="ProjectsAll" asp-controller="Project">Projects</a></h1>
<br>
<h3>Number of Projects = @ViewBag.AllProjects.Count</h3>
<br>
<h1><a asp-action="UserAll" asp-controller="Home">Users</a></h1>
<br>
<h3>Number of Users = @ViewBag.AllUsers.Count</h3>