@{
    User user = ViewBag.User;
}

<a asp-action="UserProfile">Home</a>

<h1>First Name = @user.FirstName</h1>
<h1>Last Name = @user.LastName</h1>
<h1>Email = @user.Email</h1>
<h1>Role = @user.Admin</h1>

<a asp-action="UserProfileUpdate" asp-route-id="@user.UserId">Edit Profile</a>
