@{
    User user = ViewBag.User;
}
@if(user.Admin == "Admin"){
<partial name="AdminDashboard.cshtml"/>
}else{



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h4 class="navbar-brand">Hello, @user.FirstName @user.LastName!</h4>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-action="MyProfile" asp-controller="Home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="UserAll" asp-controller="Home" class="card-link">Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="ProjectsAll" asp-controller="Project" class="card-link">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="UserProfileUpdate" asp-route-id="@user.UserId" asp-controller="Home">Edit Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Logout" asp-controller="Users">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<h1 class="text-center">Your Assignments</h1>



<h1>Assigned Tickets:</h1>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ticket Title</th>
            <th scope="col">Priority</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Project</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
            @foreach(Ticket ticket in ViewBag.AssignedTickets)
            {
                @if(ticket.UserAssigned == user.FirstName && ticket.TicketStatus == "Open")
                {
                    <tr>
                        <td>@ticket.TicketTitle</td>
                        <td>@ticket.TicketPriority</td>
                        <td>@ticket.CreatedAt.ToString("M/d/yyyy")</td>
                        <td>@ticket.UpdatedAt.ToString("M/d/yyyy")</td>
                        <td>@ticket.UserAssigned</td>
                        <td><a asp-action="ProjectPage" asp-controller="Project" asp-route-name="@ticket.TicketFor.ProjectTitle">@ticket.TicketFor.ProjectTitle</a></td>
                        <td>
                            <a asp-action="TicketPage" asp-route-name="@ticket.TicketFor.ProjectTitle"asp-route-id="@ticket.TicketId" asp-controller="Ticket">More Details</a> 
                            </td>
                    </tr>
                }
            }
    </tbody>
</table>
<br>
<br>
<h1>Tickets Completed</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Ticket Title</th>
            <th scope="col">Priority</th>
            <th scope="col">Created</th>
            <th scope="col">Updated</th>
            <th scope="col">Assigned To</th>
            <th scope="col">Project</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Ticket ticket in ViewBag.AssignedTickets)
        {
            @if(ticket.UserAssigned == user.FirstName && ticket.TicketStatus == "Closed")
            {
                <tr>
                    <td>@ticket.TicketTitle</td>
                    <td>@ticket.TicketPriority</td>
                    <td>@ticket.CreatedAt.ToString("M/d/yyyy")</td>
                    <td>@ticket.UpdatedAt.ToString("M/d/yyyy")</td>
                    <td>@ticket.UserAssigned</td>
                    <td>@ticket.TicketFor.ProjectTitle</td>
                    <td>
                        <a asp-action="TicketPage" asp-route-name="@ticket.TicketFor.ProjectTitle"asp-route-id="@ticket.TicketId" asp-controller="Ticket">More Details</a> 
                        </td>
                </tr>
            }
        }
    </tbody>
</table>
}