@{
    Ticket ticket = ViewBag.Ticket;
}

<a asp-action="UserProfile">Home</a>
<br>
<a asp-action="ProjectPage" asp-route-id="@ticket.ProjectId">Project</a>

<h1>Title: @ticket.TicketTitle</h1>
<h3>Description:</h3>
<p>@ticket.TicketDescription</p>
<h4>Priority: @ticket.TicketPriority</h4>
<h4>Status: @ticket.TicketStatus</h4>
<h4>Create At: @ticket.CreatedAt.ToString("M/d/yyyy")</h4>
<h4>Update At: @ticket.UpdatedAt.ToString("M/d/yyyy")</h4>

@if(ticket.TicketStatus == "Open")
    {
        <h1>Status: Incomplete</h1>
        <form asp-action="TicketComplete" asp-route-id="@ticket.TicketId" method="Post">
        <button>Complete</button>
        </form>
    }
    else if(ticket.TicketStatus == "Closed")
    {
        <h1>Status: Complete</h1>
        <form asp-action="TicketIncomplete" asp-route-id="@ticket.TicketId" method="Post">
        <button>Incomplete</button>
        </form>
    }
<br>
<br>
<a asp-action="TicketEdit" asp-route-id="@ticket.TicketId"><button>Edit</button></a>
<br>
<br>
<form asp-action="DeleteTicket" asp-route-id="@ticket.TicketId" method="post"><button>Delete</button></form>

@* Add a Ticket history *@