@* ViewBag.User *@

<p>Hi @ViewBag.User.FirstName!</p>
<h1>Home Page</h1>
<br>
<a asp-action="MyProfile" asp-route-id="@ViewBag.User.UserId">My Profile</a>
|
<a asp-action="Logout" asp-controller="Users">Log Out</a>
|
<a asp-action="UserAll">View Users</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Submitted By</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            @foreach(Project project in ViewBag.AllProjects)
            {
        <tr>
            <td>@project.ProjectTitle</td>
            <td>DaBoss</td>
            <td>Incomplete</td>
            <td>@project.CreatedAt.ToString("M/d/yyy")</td>
            <td><a asp-action="ProjectPage" asp-route-name="@project.ProjectTitle"
            asp-controller="Project">More Details</a></td>
        </tr>
            }
    </tbody>
</table>
<a asp-action="ProjectNew" asp-controller="Project">Create New Project</a>